body {
  font-family: 'Poppins', sans-serif;
  color: #003366;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  background-color: #f0faff;
  font-size: 1rem;
}

.table th {
  background-color: #cce7ff;
  color: #003366;
  padding: 0.75rem;
  vertical-align: middle;
  text-align: left;
  border-bottom: 2px solid #b3d9ff;
  font-size: 1.1rem;
  font-weight: 600;
}

.table td {
  padding: 0.75rem;
  vertical-align: middle;
  border-bottom: 1px solid #e0f0ff;
  color: #003366;
  font-weight: 300;
}

.table tr:hover {
  background-color: #e6f7ff;
}

.heading {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #005b99;
  font-weight: 600;
}
